<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Featured <span class="fontPacific">Wine Stores</span></h1>
    <p class="lead">Check out our list of Spain's top 100 rated wines</p>
  </div>
</div>



<div class="d-flex flex-wrap justify-content-around">

{{#each stores}}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{storename}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{city}}</h6>
    <p class="card-text">{{description}}</p>
    <a href="/stores/{{_id}}" class="card-link">Find out more...</a>
  </div>
</div>

{{/each}}

</div>