<div class="logo">
  <h1>TIPPLE</h1>
{{!-- <img class="logoImg" src="/images/logo.png" alt="Logo Tipple"> --}}
{{#if user}}
{{else}}
<a class="homeButton" href="/auth/login">Login</a>
<a class="homeButton" href="/auth/signup">Signup</a>
{{/if}}
</div>


