<div class="logo">
  <h1>TIPPLE</h1>
{{!-- <img class="logoImg" src="/images/logo.png" alt="Logo Tipple"> --}}
{{#if user}}
{{else}}
<a class="homeButton" href="/auth/login">Login</a>
<a class="homeButton" href="/auth/signup">Signup</a>
{{/if}}
</div>

<h2>Need a Wine Suggestion?</h2>

<p>Need to buy for an occasion? Maybe you're in the mood? Take our test, and try one of our suggestions!</p>

<a class="homeButton" href="/auth/login">For an Event</a>
<a class="homeButton" href="/auth/signup">For a Mood</a>


