
 <div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 fit" src="/images/corchos-para-decorar.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 fit" src="/images/wine cork.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 fit" src="/images/vina5.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 fit" src="/images/vina4.jpg" alt="Fourth slide">
    </div>
  </div>
</div>

<div class="logo fluid-width fit-logo d-flex flex-column justify-content-between align-items-center">
  <h1>Tipple</h1>
  

  {{#if user}}
  {{else}}
  <div class="container my-2">
  <a class="homeButton btn btn-outline-warning" href="/auth/login">Login</a>
  <a class="homeButton btn btn-outline-warning" href="/auth/signup">Signup</a>
  </div>
  {{/if}}
</div>

<div class="container info">

{{!-- <h2>Need a Wine Suggestion?</h2>

<p>Need to buy for an occasion? Maybe you're in the mood? Take our test, and try one of our suggestions!</p>

<a class="homeButton btn btn-primary" href="/auth/login">For an Event</a>
<a class="homeButton btn btn-primary" href="/auth/signup">For a Mood</a> --}}

</div>


