    
    <h2>Upload your picture</h2>
    <form action="/profile/uploadCloud" method="post" enctype="multipart/form-data">
    <div class="form-group">      
      
      <label>Photo</label>
      <input type="file" name="photo" class="form-control">
      <input type="submit" value="SAVE">
    </div>   
    </form>
