<div class="wrapper">

  <h2>Add your store details below:</h2>

  <form action="/profile/{{user._id}}/store/create" method="POST" id="form-container">
    <div class="form-group">
      <label for="storename">Store Name:</label>
      <input name="storename" type="text" class="form-control" placeholder="The name of your store">
    </div>
    <div class="form-group">
      <label for="direction1">Address</label>
      <input name="direction1" type="text" class="form-control" id="inputAddress" placeholder="Door or Building Name">
    </div>
    <div class="form-group">
      <label for="direction2">Address 2</label>
      <input name="direction2" type="text" class="form-control" id="inputAddress2" placeholder="Street Name">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input name="city" type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-2">
        <label for="zip">Zip</label>
        <input name="zip" type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description / Specialities</label>
      <input name="description" type="text" class="form-control" id="shopdescription" placeholder="The user will see this description">
    </div>
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <button type="submit" class="btn btn-primary homeButton">Create Shop</button>
  </form>

</div>