body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  border: 1px solid red;
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.logoImg {
  width: 400px;
}

.homeButton {
  border: 0.5px solid green;
  padding: 10px;
  text-decoration: none;
}

#upload_button {
  display: inline-block;
}
#upload_button input[type=file] {
  display:none;
}

// .mainbg {
//   background: url("/images/Mulo.jpg") 0 0 no-repeat;
//   background-size: cover;
//   height: 700px;
// }