<h2>Figure out the wine that fits your mood</h2>


<h4>Your feelings about the red wine</h4>
<select class="custom-select custom-select-lg mb-3">  
  <option selected>Red wine</option>
  <option value="1">I love it</option>
  <option value="2">I like it</option>
  <option value="3">Sometimes I feel like a glass</option>
  <option value="4">I don't like them</option>
</select>

<h4>Your feelings about the white wine</h4>
<select class="custom-select custom-select-lg mb-3">  
  <option selected>White wine</option>
  <option value="1">I love it</option>
  <option value="2">I like it</option>
  <option value="3">Sometimes I feel like a glass</option>
  <option value="4">I don't like them</option>
</select>

 <h4>Your feelings about the sparkling wine</h4>
<select class="custom-select custom-select-lg mb-3"> 
  <option selected>Sparkling wine</option>
  <option value="1">I love it</option>
  <option value="2">I like it</option>
  <option value="3">Sometimes I feel like a glass</option>
  <option value="4">I don't like them</option>
</select>




