<h2>Figure out the wine that fits with your mood</h2>

<select class="custom-select custom-select-lg mb-3">
  <option selected>Your feelings about the red wine</option>
  <option value="1">I love them</option>
  <option value="2">I like them</option>
  <option value="3">Sometimes I feel like a glass</option>
  <option value="4">I don't like them</option>
</select>

<select class="custom-select custom-select-lg mb-3">
  <option selected>Your feelings about the white wine</option>
  <option value="1">I love them</option>
  <option value="2">I like them</option>
  <option value="3">Sometimes I feel like a glass</option>
  <option value="4">I don't like them</option>
</select>

<select class="custom-select custom-select-lg mb-3">
  <option selected>Your feelings about the sparkling wine</option>
  <option value="1">I love them</option>
  <option value="2">I like them</option>
  <option value="3">Sometimes I feel like a glass</option>
  <option value="4">I don't like them</option>
</select>



